/* CSS RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --tomato: hsl(4, 100%, 67%);
    --darkSlateGrey: hsl(234, 29%, 20%);
    --charcoalGrey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
  }

body {
    background-color: var(--darkSlateGrey);
    color: var(--darkSlateGrey);
    display: grid;
    place-items: center;
    /* background-image: url("../design/desktop-success.jpg");
    background-repeat: no-repeat;
    background-position: center; */
}

main {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    height: 100vh;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
    border-radius: 0px;
    /* opacity: 0.3; */
}

.newsletter-mobile {
    height: 12.3rem;
    width:100%;
    object-fit: cover;
}

section {
    display: flex;
    flex-direction: column;
    margin: 0 24px;
}

section h1 {
    font-size: 2.53rem;
    font-weight: 700;
    margin: 35px 0 20px 0;
}

section h2 {
    font-size: inherit;
    font-weight: inherit;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 0;
}

ul li {
    margin: 10px 0;
    display: flex;
    align-items: baseline;
}

ul li img {
    width: 18px;
    margin-right: 19px;
}

ul li p {
}

main form {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 9px;
}

#newsletter-error {
    display: none;
    text-align: end;
    color: lightcoral;
    position: absolute;
    width: 100%;
}

main form label {
    font-size: 0.75rem;
    margin-top: 20px;
    font-weight: 700;
}

main form input {
    padding: 18.4px 25px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid var(--grey);
}

main button {
    padding: 19px 25px;
    margin: 13px 0;
    font-weight: inherit;
    background-color: var(--darkSlateGrey);
    border: var(--darkSlateGrey);
    color: white;
    font-size: 16px;
    border-radius: 10px;
}

main button:hover {
    background: rgb(255,98,87);
    background: linear-gradient(90deg, rgba(255,98,87,1) 78%, rgba(237,255,87,1) 100%);
    border: none;
}

main button:active {
    background-color: var(--darkSlateGrey);
}

main form input:invalid:required {
    border: 1px solid red;
    background-color: lightcoral;
    color: var(--tomato);
}

#end-section {
    display: none;
}

/* success page styling */

#end-section {
    display: none;
    height: 100vh;
}

#end-section img {
    width: 3.9rem;
    margin-top: 16rem;
}

#end-section button {
    margin-top: 17.3rem;
}


/* Mobile Desktop Changes */
.newsletter-desktop {
    display: none;
}

@media (min-width: 800px) {
    .newsletter-desktop {
        display: block;
        width: 50%;
        object-fit: cover;
        border-radius: 15px;
    }

    .newsletter-mobile {
        display: none;
    }

    body {
        min-height: 100vh;
    }

    main {
        display: flex;
        flex-direction: row;
        height: 39.7rem;
        width: 58rem;
        padding: 24px;
        border-radius: 40px;
    }

    section {
        padding: 0 68px 0 40px;
        margin: 0;
    }

    section h1 {
        font-size: 3.4rem;
        letter-spacing: 0.7px;
        margin: 65px 0 17px 0;
    }

    section h2 {
        font-size: 1rem;
    }

    section p {
        font-size: 1rem;
    }

    main form label {
        font-size:0.75rem;
        margin-top: 40px;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 20px 0 0 0;
        padding: 0;
    }

    ul li img {
        margin-right: 20px;
    }

    ul li {
        margin: 7px 0;
        display: flex;
        align-items: center;
    }

    /* success page styling */
    #end-section {
        display: none;
        height: 100vh;
        padding: 0 2.7rem;
    }
    
    #end-section img {
        width: 3.9rem;
        margin-top: 1.7rem;
    }

    #end-section h1 {
        font-size: 3.4rem;
        letter-spacing: 0.7px;
        margin: 35px 0 17px 0;
    }

    #end-section h2 {

    }
    
    #end-section button {
        margin-top: 3rem;
    }

    .desktop-success {
        height: 32.8rem;
        width: 31.7rem;
    }
}


